.container {
  display: flex;
  height: 27vw;
  width: 30.5vw;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: .05em;
}

.photoStyling {
  max-width: 100%;
}