.container {
  display: flex;
  max-height: 27vw;
  max-width: 30.25vw;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  padding: .1em;
}

.photoStyling {
  max-width: 100%;
}