.container {
  width: 50vw;
  border: 1px solid black;
  overflow: hidden;
}

.prev_button {
  color: blue;
  line-height: 32.5vw;
  margin-left: .5rem;
}

.next_button {
  color: blue;
  line-height: 32.5vw;
  float: right;
  margin-right: .5rem;
}

.view_all_button {
  display: block;
  line-height: 2.5vw;
  margin-left: .5rem;
}